.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-stats);
    padding: 10px;
    margin-bottom: 40px;
}

.stat-list {
    display: flex;
  gap: 30px;
  list-style: none;
  margin-top: 8px;
}
.percentage {
    margin-left: 5px;
}